/* Estilo general */
* {
    box-sizing: border-box; /* Asegura que los márgenes y rellenos no afecten el tamaño total de los elementos */
}

body {
    font-family: 'Roboto', sans-serif; /* Se cambia la fuente a 'Roboto' desde Google Fonts */
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.playwrite-gb-j-guides-regular {
    font-family: "Playwrite GB J Guides", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .playwrite-gb-j-guides-regular-italic {
    font-family: "Playwrite GB J Guides", cursive;
    font-weight: 400;
    font-style: italic;
  }
  

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #ecf0f1; /* Color más claro para el título */
    text-align: center; /* Centrado del texto */
}

/* Main content */
main {
    padding: 20px;
}

/* Secciones por país */
.pais {
    margin-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px;
    border-radius: 10px;
}

/* Título de las secciones */
h2 {
    color: #2c3e50;
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
}

/* Estilo de cada equipo */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); /* Diseño con grid */
    gap: 1%;
}

/* Equipos */
.equipo {
    background-color: white;
    margin: 1%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    box-sizing: border-box; /* Garantiza que el padding y borde no se sumen al ancho */
}

/* Hover effect */
.equipo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

/* Imágenes */
.equipo img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

/* Títulos de equipos */
.equipo h3 {
    font-size: 1.5em;
    color: #34495e;
    text-align: center; /* Centrado de los títulos */
}

/* Texto de información */
.equipo p {
    color: #7f8c8d;
    margin: 10px 0;
    text-align: center; /* Centrado del texto */
}

/* Pseudoclases */
.equipo:hover h3 {
    color: #2980b9; /* Cambia el color del título en hover */
}

.equipo:hover p {
    color: #2c3e50; /* Cambia el color del párrafo en hover */
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .equipo {
        width: 46%;
    }
}

@media (max-width: 480px) {
    .equipo {
        width: 100%;
    }
}
